body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.login.container,
.login.segment {
  margin-left: 15em;
  margin-right: 15em;
}

@media screen and (max-width: 600px) {
  .masthead {
    justify-content: center;
  }
}

.masthead {
  display: flex;
  align-items: center;
  background-image: url("./ezgif-3-85baeea89b65.gif") !important;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 103;
}

div.homepageheader {
  font-size: 110px;
}
